@using exam_frontend.Controllers
@using Microsoft.JSInterop
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IHttpContextAccessor HttpContextAccessor

<head>
    <link rel="stylesheet" href="~/css/image/details.css">
</head>

<button class="like-button" @onclick="LikeImage">
    ❤️ Like (<span id="likeCount" class="likeCount">@LikeCount</span>)
</button>

@code {
    [Parameter]
    public int LikeCount { get; set; }
    [Parameter]
    public int ImageId { get; set; }
    [Parameter]
    public string UserId { get; set; }
    
    private async Task LikeImage()
    {
        HttpRequestMessage request = new HttpRequestMessage(HttpMethod.Post, 
            $"/Like?image_id={ImageId}&user_id={UserId}");
        IRequestCookieCollection cookies = HttpContextAccessor.HttpContext.Request.Cookies;

        foreach (var cookie in cookies)
        {
            request.Headers.TryAddWithoutValidation("Cookie", $"{cookie.Key}={cookie.Value};");
        }

        HttpResponseMessage response = await Http.SendAsync(request);
        LikeService.LikeResponse result = await response.Content.ReadFromJsonAsync<LikeService.LikeResponse>();

        if (result.IsLiked)
        {
            LikeCount++;
        }
        else if (result.IsUnliked)
        {
            LikeCount--;
        }
    }
    
}