@page "{gallery_id}"
@model exam_frontend.Pages.Image.Create

@{
ViewData["Title"] = "Add Image";
}

<head>
    <link rel="stylesheet" href="~/css/image/create.css"/>
</head> 

<h2>Add an Image</h2>

@if (!Model.CanUpload)
{
<p style="color: red;">You do not have permission to add images to this gallery.</p>
}
else
{
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="GalleryId" />

    <label asp-for="ImageFile">Choose an image (JPEG/PNG, Max size - 20 Mb):</label>
    <input type="file" asp-for="ImageFile" name="ImageFile" id="ImageFile" accept=".jpg, .jpeg, .png" required />

    <button type="submit">Upload</button>
</form>
}
