@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/gallery/index.css"/>
</head>

<div class="gallery-container">
    @if (Model.Galleries.Count > 0)
    {
        @foreach (var gallery in Model.Galleries)
        {
            <div class="gallery-card">
                <a asp-page="/Gallery/Details" asp-route-gallery_id="@gallery.Id" asp-route-user_id="@gallery.UserId">
                    <div class="gallery-header">@gallery.Name</div>
                    <div class="gallery-body">
                        <img src="@gallery.Images.First().FilePath" alt="Gallery Preview">
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <p>Oops! Your feed seems to be empty!</p>
    }
</div>
