@page "{gallery_id}"
@model exam_frontend.Pages.Gallery.Details
@{
    ViewData["Title"] = "Gallery Images";
}

<head>
    <link rel="stylesheet" href="~/css/gallery/details.css"/>
</head>

<h1>@Model.GalleryName</h1>

<div class="gallery-container">
    @foreach (var image in Model.Images)
    {
        <a asp-page="/Image/Details" asp-route-image_id="@image.Id">
            <div class="gallery-item">
                <img src="@image.FilePath" alt="Image">
            </div>
        </a>
    }
</div>

<a href="/Galleries/Index" class="back-btn">← Back to Galleries</a>